body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

h1{
    text-align: center;
}

.card{
    background: white;
    padding: 30px;
    margin: 40px auto;
    max-width: 400px;
    border-radius: 10px;
}

input, button{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
}

button{
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}